
div{
    width:10em;
    font-family: fantasy;
    font-size: 1em; 
    height: 18em;    
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background: #6067f1;
    border-radius: 6px;
    padding: 3em 5em;
    text-transform: uppercase;  
    text-align: center; 
     }

     button{
      width: 8em;
      text-align: center;
      padding: 5px 5px;
      border: 1px solid #eee;
      border-radius: 6px;
      background-color: #092b76;
      font-size: 18px;
      font-family: sans-serif;
      color: #eee;
     }
 input{
   width:10em;
   height: 1em; 
 }
